<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deng.experimentfour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/banana"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StaticActivity"
                  android:launchMode="singleInstance"
                  android:theme="@style/AppNobarTheme"/>
        <activity android:name=".DynamicActivity"
                  android:launchMode="singleInstance"
                  android:theme="@style/AppNobarTheme"/>

        <receiver android:name=".StaticReceiver">
            <intent-filter>
                <action android:name="staticBroadcast" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
